<footer id="footer">
	<div class="container">

		{{ if isset .Site.Params "about_us" }}
		<div class="col-md-4 col-sm-6">

			{{ .Site.Params.about_us | markdownify }}

			<hr class="hidden-md hidden-lg hidden-sm">

		</div>
		<!-- /.about us -->
		{{ end }}

		<div class="col-md-4 col-sm-6">

			<div class="social">
				{{ range .Site.Menus.topbar.ByWeight }}
				<a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
				{{ end }}
			</div>

			<hr class="hidden-md hidden-lg">

		</div>
		<!-- /.socials -->

		{{ if isset .Site.Params "address" }}
		<div class="col-md-4 col-sm-6">

			The useR! conference series is arranged by the <a href="https://www.r-project.org/conferences/" target="_blank">R Foundation</a>

			<hr class="hidden-md hidden-lg hidden-sm">

		</div>
		<!-- /.address -->
		{{ end }}

	</div>
	<!-- /.container -->
</footer>

<!-- /#footer -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
	<div class="container">
		<div class="col-md-12">
			{{ if isset .Site.Params "copyright" }}
			<p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
			{{ end }}
			<p class="pull-right">
				{{ i18n "templateBy" }} <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
				<!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->

				{{ i18n "portedBy" }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>
			</p>
		</div>
	</div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->